/* Base styles for the Animal Blog */
body {
    font-size: 16px;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/********* Footer Stuff *******/
footer {
    font-size: 0.9rem;
}

/*****************************/

/********* Navbar Stuff *********/
.navbar-brand {
    font-weight: 600;
    font-size: 1.25rem;
}
/*******************************/

/*********** Hero Image Stuff *******/
.hero {
  position: relative;
  overflow: hidden;
}

.hero-text {
  z-index: 2;
}

.hero img {
  max-height: 60vh;
  object-fit: cover;
}

/******************************/

/********* Card stuff **********/
.card {
    border-radius: 1rem;
}

.card img {
    object-fit:cover;
    max-height: 25rem;
}

/******************************/


