/* Base styles for the Animal Blog */
body {
    font-size: 16px;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/********* Footer Stuff *******/
footer {
    font-size: 0.9rem;
}

/*****************************/

/********* Navbar Stuff *********/
.navbar-brand {
    font-weight: 600;
    font-size: 1.25rem;
}
/*******************************/

/*********** Hero Image Stuff *******/
.hero {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.hero-text {
  z-index: 2;
  padding: 0 1rem;
}


.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1; /* place overlay ABOVE image */
  border-radius: 20px;
}

.hero img {
  height: 60vh;
  object-fit: cover;
  border-radius: 20px;
}

/******************************/

/********* Card stuff **********/
.card {
    border-radius: 1rem;
}

.card img {
    object-fit:cover;
    max-height: 25rem;
}

/******************************/

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}


