# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Django / Python environment files
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3

# Django static and media files
staticfiles/
media/